body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

nav {
  background: #0f766e;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 60px;
  text-align: center;
  background: #14b8a6;
  color: white;
}

section {
  padding: 40px;
  background: white;
  margin: 10px;
}

.project {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #0f766e;
  color: white;
  border: none;
}

footer {
  text-align: center;
  background: black;
  color: white;
  padding: 15px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid white;
}
